{% extends "base.html" %}
{% block content %}
<h1>Free Object Identifiers!</h1>
<p class="lead">
  <a href="https://en.wikipedia.org/wiki/Object_identifier">Object Identifiers (OIDs)</a>
  are used to name objects.<br>
  OIDs consist of a node in a hierarchically-assigned namespace.<br>
  They are mostly used in
    <a href="https://en.wikipedia.org/wiki/Simple_Network_Management_Protocol">SNMP</a>
  and
    <a href="https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol">LDAP</a>.
</p>
<p class="lead">
  We'll assign you an OID prefix for free.<br>
  You can use it for whatever you want.<br>
  And you don't need to register.
</p>
<p>
  <form role="form" action="{{ url_for('assignment') }}" method="POST">
    <center>
      {{ form.csrf_token }}
      <div class="form-group freeoids-textfield">
        {{ form.comment.label }}
        {{ form.comment(class_='form-control') }}
      </div>
      {% if use_recaptcha %}
        <div class="freeoids-captcha">
            {{ form.recaptcha }}
        </div>
      {% endif %}
      <button type="submit" class="btn btn-default btn-lg btn-success">New prefix</button>
    </center>
  </form>
</p>
{% endblock %}
